<div style="margin: 4em;">
    Employee


    <div class="form-group row">
        <div class="col-md-5">
            <input type="text" placeholder="EID" class="form-control" [value]="EID">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <input type="text" placeholder="FirstName" class="form-control" [value]="EmpFName">
        </div>
    </div>


    <div class="form-group row">
        <div class="col-md-5">
            <input type="text" placeholder="LastName" class="form-control" [value]="EmpLName">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <textarea rows="5" placeholder="Address" class="form-control" (keyup)="updateAdress($event)"
                [value]="EmpAdress">

</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <input type="button" class="btn btn-primary" value="Get Customer" (click)="GetCustomer()">
        </div>
    </div>


    <div class="form-group row">
        <div *ngIf="IsAdressAvailble; else NoAdress" class="col-md-5">
            <span>Adress is {{EmpAdress}}</span>
        </div>

        <ng-template #NoAdress>
            <span>Adress is not availble</span>
        </ng-template>

    </div>