<div style="margin-left: 50px;">
    <!-- <input type="checkbox"> -->

    <!-- <input [type]="inputtype" [disabled]="IsDisabled"> -->


    <input type="button" value="Click Me" (click)="updateCustomerName()">

    <textarea rows="5" [value]="customerName" (keydown)="evtComments($event)">
    </textarea>
    <br>
    your Comments <p [innerText]="customerName"></p>


    <input type="text" placeholder="twoway databinding" [(ngModel)]="twowaycustomerName">


    {{customerName}} 
<br>
    twowaycustomerName {{twowaycustomerName}}

    <!-- <input type = "text"> -->

    <!-- 

<p> Iam a person</p>

{{ customerName }}
<br>

{{customerID}}

<br>
{{getCustomerName()}} -->


    <!-- 1 is converting as '1' -->

</div>